body {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.header {
    padding: 30px 30px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 68px;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.area-1,
.area-2 {
    flex: 1;
}

/* toggle button and text */

.toggle-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Josefin Sans', 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 20px;
}

#spacebar-text {
    color: #e63946;
}

.toggle-ctrl {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.toggle {
    position: relative;
    width: 40px;
    height: 20px;
    border: 2px solid #da1324;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.circle {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #da1324;
    transition: .3s;
}

.toggle-text {
    font-size: 12px;
    margin-top: -6px;
    color: #da1324;
}

.active {
    border-color: rgb(80, 220, 100);
}

.active+.toggle-text {
    color: rgb(80, 220, 100);
}

.active .circle {
    left: 100%;
    transform: translateX(-100%);
    transition: .3s;
    background-color: rgb(80, 220, 100);
}

.toggle-header:has(+ .active) #spacebar-text {
    color: rgb(80, 220, 100);
    transition: all 0.3s;
}

/* main box left of the grid styling */

.area-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.color-ctrl {
    width: 240px;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pen-color-ctrl,
.bg-color-ctrl {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}

.eraser-btn {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid black;
    border-radius: 20%;
    color: black;
    width: 80px;
    height: 80px;
    padding: 10px 0;
    transition: all 0.3s;
    margin: 20px 0;
}

.eraser-btn:hover {
    background-color: black;
    color: #ffffff;
    transform: scale(1.1);
}

.eraser-btn:focus {
    outline: none;
}

.eraserActive {
    background-color: black;
    color: white;
    border: 5px double rgb(80, 220, 100);
    transform: scale(1.1);
}

.grid-area {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}

.grid {
    display: flex;
    border: 3px solid #da1324;
    transition: 0.3s;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
}

.active-grid {
    border-color: rgb(80, 220, 100);
    border-width: 3px;
    transition: all .3s;
}

.area-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-size-ctr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.reset-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-bottom: 70px;
}

#grid-apply {
    transition: all 0.3s;
    margin-top: 20px;
}

#reset-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    border: 2px solid #da1324;
    background-color: white;
    color: #da1324;
    width: 60px;
    height: 60px;
    transition: all 0.3s;
}

#reset-grid:hover {
    transform: scale(1.1);
    background-color: #da1324;
    color: white;
}

.active-reset#reset-grid {
    border: 1.5px solid rgb(80, 220, 100);
    color: rgb(80, 220, 100);
}

.active-reset#reset-grid:hover {
    background-color: rgb(80, 220, 100);
    color: white;
}

#reset-grid:focus,
.active-reset:focus {
    outline: none;
}

.footer {
    background-color: #eeeeee;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}